.idea
.vscode

Conf
Build
__pycache__
Platforms/*/__pycache__
Platforms/Pine64/PinebookPro/Include/*
Platforms/Pine64/PinePhonePro/Include/*

staging

*.bin
tools/*.bin
tools/ddrbin_param*.txt
tools/idblock.bin
tools/PINEPHONEPRO_EFI.*
tools/PINEBOOKPRO_EFI.*

